
.sandwiches{
    background-color: rgba(214, 235, 80, 0.7);
    border: 3px solid rgba(255, 0, 0, 0.655);
   
    text-align: center;
    justify-content: center;
    display: inline-block;
    margin-top: 8vh;
    transition: all 250ms;
 
    overflow: hidden;
    border-radius: 13px;
    
}
.coffee{
    background-color: rgba(214, 235, 80, 0.7);

    border: 3px solid rgba(255, 0, 0, 0.655);
   
    text-align: center;
    justify-content: center;
    display: inline-block;
    margin-top: 8vh;

    overflow: hidden;
    border-radius: 13px;
    
}
.shake{
    background-color: rgba(214, 235, 80, 0.7);
    backdrop-filter: blur(9px); 
    border: 3px solid rgba(255, 0, 0, 0.655);
   
    text-align: center;
    justify-content: center;
    display: inline-block;
    margin-top: 8vh;

    overflow: hidden;
    border-radius: 13px;
    
}
.sandwiches table td {
    padding: 1.2rem;
    border: 1px solid rgba(255, 0, 0, 0.311);

}
.coffee table td {
    padding: 1.2rem;
    border: 1px solid rgba(255, 0, 0, 0.311);

}
.shake table td {
    padding: 1.2rem;
    border: 1px solid rgba(255, 0, 0, 0.311);

}
.food-items p{
    font-weight: 900;
    background-color: rgb(255, 255, 0);
    z-index: +9;
    background-size: cover;
}
.major{
 display: flex;
 justify-content: space-between;

}
.food-items{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: black;
    font-weight: 600;
    font-style: italic;
    font-family: cursive;
    margin-top: 5%;
    margin-bottom: 3%;
    position: relative;
}

.major-btn{
    font-size: large;
    border-radius: 6px;
    background: none;
    border:1px solid white;
    

}
.major-btn:hover{
    background-color: rgba(49, 28, 49, 0.203);
    
}
.major{
    display: flex;
    justify-content: space-between;
}
.food-order{
    display: flex;
    justify-content: center;
    background: none;
    backdrop-filter: blur(7px);
    border-radius: 11px;
    margin-left: 45%;
    font-size: 21px;
    background-color: rgba(221, 160, 221, 0.536);

}
.food-order:hover{
    cursor: pointer;
}
.bill{
    position: absolute;
    background-color: wheat;
    height:30rem;

    border-radius: 16px;
    z-index: +99;
    transition: all 700ms;
    backdrop-filter: blur(9px);
    
}
.visible{
    display: block;
    bottom: 33%;
    top:14%;
    left: 36%;
    width:30rem;

    
}
.hide{
    display: none;
}
.dekh-p{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    padding: 12px;
}
h4,h5{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: yellow;

}
.no-p{
    display: none;
}

